.suptitle-primary,
.suptitle-secondary {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: $text-primary;
}

.suptitle-primary::before,
.suptitle-secondary::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  vertical-align: middle;
  background: $text-primary;
}
.suptitle-primary::before {
  background: rgba(48, 48, 48, 1);
}
.suptitle-secondary {
  color: #9da4bd99;
}

h2.section-title {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 42px;
  color: $text-primary;
}

h2.section-title.lighten {
  color: #fff;
}

.description-container {
  width: 48%;
}
p.section-description {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $text-primary-lighten;
}
